
<div class="container">
  <h2 >Listar Aves</h2>
<div class="ui-g">
<div class="ui-g-12">
<p-table [value]="aves" [paginator]="true" [rows]="3" [responsive]=true>
<ng-template pTemplate="header">
<tr>

<th class="col-id-header">Código</th>
<th class="col-nome-header">Nome</th>
<th class="col-QuantidadedeR-header" >Quantidade de Ração</th>
<th class="col-raca-header">Raça</th>
<th class="col-tipo-header">Tipo</th>
<th class="col-peso-header">Peso</th>
<th class="col-vacina-header">Vacina</th>
<th class="col-dt-header">Data de Vacinação</th>
<th class="col-dn-header">Data de Nascimento</th>
<th class="col-acoe-header">Ações</th> 
</tr>
</ng-template>
<ng-template pTemplate="body" let-aves>
<tr>
<td>{{aves.id}}</td>
<td>{{aves.nome}}</td>
<td >{{aves.quantidadeRacao}}</td>
<td >{{aves.raca}}</td>
<td >{{aves.tipo}}</td>
<td >{{aves.peso}}</td>
<td >{{aves.vacina}}</td>
<td >{{aves.data_vacinacao}}</td>
<td >{{aves.data_nascimento}}</td>
<td class="col-acoe">

<button pButton icon="fa fa-edit" [routerLink]="['/atualizarAves', aves.id]" ></button>
<button pButton icon="fa fa-trash-o" (click)="excluir(aves.id)" > </button>

</td>

</tr>

</ng-template>

</p-table>
</div>
</div>
</div>
