<!--<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li  routerLinkActive="nav-link active" class="nav-item">
          <a class="nav-link " id="home-tab"  data-toggle="tab" routerLink=""
           role="tab" aria-controls="home" aria-selected="false">Home</a>
        </li>
        <li routerLinkActive="nav-link active" class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" routerLink="/Formulario"
           role="tab" aria-controls="Formulario" aria-selected="false">Formulario</a>
        </li>
        <li routerLinkActive="nav-link active" class="nav-item" >
          <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="/Tabela" 
          role="tab" aria-controls="tabela" aria-selected="false">tabela</a>
        
        </li>
        <li routerLinkActive="nav-link active" class="nav-item" >
          <a class="nav-link" id="contact-tab" data-toggle="tab" routerLink="/login" 
          role="tab" aria-controls="login" aria-selected="false">login</a>
        
        </li>
      </ul>
      
<div class="container">
            <router-outlet></router-outlet>
      
</div><br>
-->

<html lang="en" class="full-height">

<!--Main Navigation-->
<header>

    <nav class="navbar navbar-expand-lg navbar-dark black" >
        <div class="container">
            <a  class="navbar-brand"routerLink="" ><strong>Home</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a  class="nav-link"  routerLink="/login"  *ngIf="!mostrarMenu">Login <span class="sr-only" >(current)</span> </a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="mostrarMenu">
                          Funcionário
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/Formulario/Funcionaio">Cadastrar</a>
                          <a class="dropdown-item" routerLink="/Tabela/Funcionaio" >Lista</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false" *ngIf="mostrarMenu">
                          Ração
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/Formulario/Racao">Cadastrar</a>
                          <a class="dropdown-item" routerLink="/Tabela/Racao">Lista</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="mostrarMenu">
                            Aves
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/Formulario/aves">Cadastrar</a>
                          <a class="dropdown-item" routerLink="/Tabela/aves">Lista</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
                        aria-expanded="false" *ngIf="mostrarMenu">
                          Animal Corte 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/Formulario/animalCorte">Cadastrar</a>
                          <a class="dropdown-item" routerLink="/Tabela/animalCorte">Lista</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
                        aria-expanded="false" *ngIf="mostrarMenu">
                          Animal Leiteiro
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/Formulario/animalLeiteiro">Cadastrar</a>
                          <a class="dropdown-item" routerLink="/Tabela/animalLeiteiro">Lista</a>
                        </div>
                      </li>
                      <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link" *ngIf="mostrarMenu" (click)="sair()">Sair</a>
                    </li>
                    
                          
                  
            
               

                </ul>
            </div>
        </div>
    </nav><br>

  

</header>
<!--Main Navigation-->

<!--Main Layout-->
<main >

    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <router-outlet></router-outlet>

            </div>
        </div>
    </div>

</main>
<!--Main Layout-->

<footer   class="footer-copyright black py-3 text-center text-white">
   
  © 2018 JS Tecnologia | Desenvolvido Por Almir Antonio

  </footer>
                    
