<div class="container">
  <div class="text-center ">
    <h3>Atualizar Aves </h3>
  </div>

<form #f="ngForm" (ngSubmit)="atualizar(f.value)" class="form-horizontal">
    <div class="form-group row"  [ngClass]="aplicaCssErro(nome)" >
  
      <div class="col-sm-6">
        <label for="id" class="control-label">Código</label>
      </div>
  
      <div class="col-sm-6">
        <label for="nome" class="control-label">Nome</label>
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="id" 
          id="id" placeholder="Id"  [(ngModel)]="aves.id" required #id="ngModel" readonly="true">
   
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(id)" 
          msgErro="Id é obrigatório.">
        </app-app-campo-control-erro>
      </div><br>

      
      
  
      <div class="col-sm-6">
        <input type="text" class="form-control" name="nome" 
          id="nome" placeholder="Nome"  [(ngModel)]="aves.nome" required #nome="ngModel">
   
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(nome)" 
          msgErro="Nome é obrigatório.">
        </app-app-campo-control-erro>
      </div><br>

      <div class="col-sm-12">
        <label for="nome" class="control-label"></label>
      </div>

        <div class="col-sm-6">
          <label for="Quantidade de Ração" class="control-label">Quantidade de Ração</label>
        </div>

        <div class="col-sm-6">
          <label for="Tipo" class="control-label">Tipo</label>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="quantidadeRacao" 
            id="quantidadeRacao" placeholder="Quantidade de Ração"  [(ngModel)]="aves.quantidadeRacao" required #quantidadeRacao="ngModel">
      
    
          <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(quantidadeRacao)" 
            msgErro="Quantidade de Ração é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>
         
          
       
          
          <div class="form-group" class="col-sm-6">
            <select  [(ngModel)]="aves.tipo"  class="custom-select" name="tipo"  required #tipo="ngModel">
              
              <option value="Leiteiro"  >Leiteiro</option>
              <option value="Corte">Corte</option>
              
            </select>
            <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(tipo)" 
            msgErro="Tipo é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>
         
          <div class="col-sm-12">
            <label for="nome" class="control-label"></label>
          </div>
    
          
          <div class="col-sm-6">
            <label for="Peso" class="control-label">Peso</label>
          </div>
          <div class="col-sm-6">
            <label for="Raça" class="control-label">Raça</label>
          </div>
      
          <div class="col-sm-6">
            <input type="text" class="form-control" name="Peso" 
              id="peso" placeholder="Peso"  [(ngModel)]="aves.peso" required #peso="ngModel">
      
            <app-app-campo-control-erro
              [mostrarErro]="verificaValidTouched(peso)" 
              msgErro="Peso é obrigatório.">
            </app-app-campo-control-erro>
            <br>
        
      </div>
      
      <div class="col-sm-6">
        <input type="text" class="form-control" name="raca" 
          id="raca" placeholder="Raça"  [(ngModel)]="aves.raca" required #raca="ngModel">
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(raca)" 
          msgErro="Raça é obrigatório.">
        </app-app-campo-control-erro>
        <br></div>
      <div class="col-sm-1">
        <label for="vacina" class="control-label">Vacina</label>
      </div>
  
      <div class="col-sm-12">
        <input type="text" class="form-control" name="vacina" 
          id="vacina" placeholder="Vacina"  [(ngModel)]="aves.vacina" required #vacina="ngModel">
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(vacina)" 
          msgErro="Vacina é obrigatório.">
        </app-app-campo-control-erro>
       
     </div>

     <div class="col-sm-12">
      <label for="nome" class="control-label"></label>
    </div>

          <div class="ui-g-12 ui-md-6">
              <label for="data_vacinacao" class="control-label">Nova Data Vacinacão</label>
              
              <p-calendar [(ngModel)]="data_vacinacao" name="something" required ></p-calendar> {{data_vacinacao|date}}
              
            
          </div>
          <div class="ui-g-12 ui-md-6">
            <label for="data_nascimento" class="control-label"> Nova Data Nascimento</label>
            
            <p-calendar [(ngModel)]="data_nascimento" name="something"required #dataN="ngModel" ></p-calendar> {{data_nascimento|date}}
          
        </div>

        <div class="col-sm-6" ><p>Data anterior: {{aves.data_vacinacao}}</p> </div>
        <div class="col-sm-6"><p>Data anterior: {{aves.data_nascimento}} </p></div> 

      <div class="col-sm-12">
        <button  type="submit" class="btn btn-primary" [disabled]="!f.valid" >Atualizar</button>
      </div>
      </div>
       
  </form>
</div>
