
<div class="container">
  <h2 >Listar Animal Leiteiro</h2>
<div class="ui-g">
<div class="ui-g-12">
<p-table [value]="animalleiteiro" [paginator]="true" [rows]="3" [responsive]=true>
<ng-template pTemplate="header">
<tr>

<th class="col-id-header">Código</th>
<th class="col-nome-header">Nome</th>
<th class="col-QuantidadedeR-header" >Quantidade de Ração</th>
<th class="col-raca-header">Raça</th>
<th class="col-tipo-header">Tipo</th>
<th class="col-ql-header">Quantidade De Leite</th>
<th class="col-dp-header">Data do Cio</th>
<th class="col-dp-header">Data de Parição</th>
<th class="col-acoe-header">Ações</th> 
</tr>
</ng-template>
<ng-template pTemplate="body" let-animalleiteiro>
<tr>
<td>{{animalleiteiro.id}}</td>
<td>{{animalleiteiro.nome}}</td>
<td >{{animalleiteiro.quantidadeRacao}}</td>
<td >{{animalleiteiro.raca}}</td>
<td >{{animalleiteiro.tipo}}</td>
<td >{{animalleiteiro.quantidade_leite}}</td>
<td >{{animalleiteiro.data_cio}}</td>
<td >{{animalleiteiro.data_paricao}}</td>
<td class="col-acoe">

<button pButton icon="fa fa-edit" [routerLink]="['/atualizarLeiteiro', animalleiteiro.id]" ></button>
<button pButton icon="fa fa-trash-o" (click)="excluir(animalleiteiro.id)" > </button>

</td>

</tr>

</ng-template>

</p-table>
</div>
</div>
</div>
