<div class="container">
  <div class="text-center ">
    <h2>Formulário Animal De Corte </h2>
  </div>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="form-horizontal">
    <div class="form-group row"  [ngClass]="aplicaCssErro(nome)">
  
      <div class="col-sm-1">
        <label for="nome" class="control-label">Nome</label>
      </div>
  
      <div class="col-sm-12">
        <input type="text" class="form-control" name="nome" 
          id="nome" placeholder="Nome"  [(ngModel)]="animalCorte.nome" required #nome="ngModel">
   
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(nome)" 
          msgErro="Nome é obrigatório.">
        </app-app-campo-control-erro>
      </div><br>

      <div class="col-sm-12">
        <label for="nome" class="control-label"></label>
      </div>

        <div class="col-sm-6">
          <label for="Quantidade de Ração" class="control-label">Quantidade de Ração</label>
        </div>

        <div class="col-sm-6">
          <label for="Tipo" class="control-label">Tipo</label>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="quantidadeRacao" 
            id="quantidadeRacao" placeholder="Quantidade de Ração"  [(ngModel)]="animalCorte.quantidadeRacao" required #quantidadeRacao="ngModel">
      
    
          <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(quantidadeRacao)" 
            msgErro="Quantidade de Ração é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>
         
          
       
          
          <div class="form-group" class="col-sm-6">
            <select  [(ngModel)]="animalCorte.tipo"  class="custom-select" name="tipo"  required #tipo="ngModel">
              
              <option value="Leiteiro"  >Leiteiro</option>
              <option value="Corte">Corte</option>
              
            </select>
            <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(tipo)" 
            msgErro="Tipo é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>
         
          <div class="col-sm-12">
            <label for="nome" class="control-label"></label>
          </div>
    

          <div class="col-sm-6">
            <label for="Peso" class="control-label">Peso</label>
          </div>
          <div class="col-sm-6">
            <label for="Raça" class="control-label">Raça</label>
          </div>
      
          <div class="col-sm-6">
            <input type="text" class="form-control" name="Peso" 
              id="peso" placeholder="Peso"  [(ngModel)]="animalCorte.peso" required #peso="ngModel">
      
            <app-app-campo-control-erro
              [mostrarErro]="verificaValidTouched(peso)" 
              msgErro="Peso é obrigatório.">
            </app-app-campo-control-erro>
            <br>
        
      </div>
      
      <div class="col-sm-6">
        <input type="text" class="form-control" name="raca" 
          id="raca" placeholder="Raça"  [(ngModel)]="animalCorte.raca" required #raca="ngModel">
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(raca)" 
          msgErro="Raça é obrigatório.">
        </app-app-campo-control-erro>
        <br></div>
      
          <div class="ui-g-12 ui-md-12">
            <label for="data_nascimento" class="control-label">Data Nascimento</label>
            
            <p-calendar [(ngModel)]="data_nascimento" name="something"required #dataN="ngModel" ></p-calendar> {{data_nascimento|date}}
          
        </div>
         
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid"   >Cadastrar</button>
      </div>
      </div>
       
  </form>
</div>
