<div class="container">
  <div class="text-center ">
    <h2>Formulário Ração </h2>
  </div>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="form-horizontal">
    <div class="form-group"  [ngClass]="aplicaCssErro(nome)">
  
      <div class="col-sm-1">
        <label for="nome" class="control-label">Nome</label>
      </div>
  
      <div class="col-sm-12">
        <input type="text" class="form-control" name="nome" 
          id="nome" placeholder="Nome"  [(ngModel)]="racao.nome" required #nome="ngModel">
   
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(nome)" 
          msgErro="Nome é obrigatório.">
        </app-app-campo-control-erro>
      </div><br>
        <div class="col-sm-1">
          <label for="cpf" class="control-label">Tipo</label>
        </div>
    
        <div class="col-sm-12">
          <input type="text" class="form-control" name="tipo" 
            id="tipo" placeholder="Tipo"  [(ngModel)]="racao.tipo" required #tipo="ngModel">
      
    
          <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(tipo)" 
            msgErro="Tipo é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>
         
        
      </div>
      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid" >Cadastrar</button>
      </div>
      
       
  </form>
</div>
