<div class="container">

    
<!-- Material form login -->
<form>
    <p class="h4 text-center mb-4">Login</p>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input  type="email" id="materialFormLoginEmailEx" placeholder=" Email"
         class="form-control" name="email"  [(ngModel)]="usuario.email">
       
    </div>

    <!-- Material input password -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input  type="password" id="materialFormLoginPasswordEx" placeholder=" Senha"
         class="form-control" name="senha"  [(ngModel)]="usuario.senha"  >
       
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-default" type="submit" (click)="fazerLogin()">Entrar</button>
    </div>
</form>
<!-- Material form login -->
                      
</div>




