<div class="container">
  <h2 >Listar Animal De Corte</h2>
<div class="ui-g">
<div class="ui-g-12">
<p-table [value]="animalCorte" [paginator]="true" [rows]="3" [responsive]=true>
<ng-template pTemplate="header">
<tr>

<th class="col-id-header">Código</th>
<th class="col-nome-header">Nome</th>
<th class="col-QuantidadedeR-header" >Quantidade de Ração</th>
<th class="col-raca-header">Raça</th>
<th class="col-tipo-header">Tipo</th>
<th class="col-peso-header">Peso</th>
<th class="col-dn-header">Data de Nascimento</th>
<th class="col-acoes-header">Ações</th> 
</tr>
</ng-template>
<ng-template pTemplate="body" let-animalCorte>
<tr>
<td>{{animalCorte.id}}</td>
<td>{{animalCorte.nome}}</td>
<td >{{animalCorte.quantidadeRacao}}</td>
<td >{{animalCorte.raca}}</td>
<td >{{animalCorte.tipo}}</td>
<td >{{animalCorte.peso}}</td>
<td >{{animalCorte.data_nascimento}}</td>
<td class="col-acoes">

<button pButton icon="fa fa-edit" [routerLink]="['/atualizarCorte', animalCorte.id]"></button>
<button pButton icon="fa fa-trash-o"  (click)="excluir(animalCorte.id)"  > </button>

</td>

</tr>

</ng-template>

</p-table>
</div>
</div>
</div>


