
<div class="container">
    <h2 >Listar Funcionário</h2>
  <div class="ui-g">
  <div class="ui-g-12">
  <p-table [value]="funcionario" [paginator]="true" [rows]="3" [responsive]=true>
  <ng-template pTemplate="header">
  <tr>
  
  <th class="col-id-header">Código</th>
  <th class="col-nome-header">Nome</th>
  <th class="col-cpf-header">CPF</th>
  <th class="col-sexo-header">Sexo</th>
  <th class="col-salario-header">Salario</th>
  <th class="col-acoes-header">Ações</th> 
</tr>
  </ng-template>
  <ng-template pTemplate="body" let-funcionario>
  <tr>
  <td>{{funcionario.id}}</td>
  <td>{{funcionario.nome}}</td>
  <td >{{funcionario.cpf}}</td>
  <td >{{funcionario.sexo}}</td>
  <td >{{funcionario.salario}}</td>
<td class="col-acoes">
  <button pButton icon="fa fa-edit" [routerLink]="['/atualizar',funcionario.id]" > </button>
  <button pButton icon="fa fa-trash-o" (click)="excluir(funcionario.id)" > </button>

</td>

</tr>

  </ng-template>
  


  </p-table>
  </div>
  </div>
  </div>
  
 