<div class="container">
  <div class="text-center ">
    <h2>Atualizar Animal Leiteiro </h2>
  </div>

<form #f="ngForm" (ngSubmit)="atualizar(f.value)" class="form-horizontal">
    <div class="form-group row"  [ngClass]="aplicaCssErro(nome)">
  
      <div class="col-sm-1">
        <label for="Código" class="control-label">Código</label>
      </div>
  
      <div class="col-sm-12">
        <input type="text" class="form-control" name="id" 
          id="id" placeholder="codigo"  
          [(ngModel)]="animalleiteiro.id" required #codigo="ngModel" readonly="true">
   
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(codigo)" 
          msgErro="Código é obrigatório.">
        </app-app-campo-control-erro>
      </div><br>
      
      <div class="col-sm-12">
        <label for="nome" class="control-label"></label>
      </div>

      <div class="col-sm-1">
        <label for="nome" class="control-label">Nome</label>
      </div>
  
      <div class="col-sm-12">
        <input type="text" class="form-control" name="nome" 
          id="nome" placeholder="Nome"  [(ngModel)]="animalleiteiro.nome" required #nome="ngModel">
   
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(nome)" 
          msgErro="Nome é obrigatório.">
        </app-app-campo-control-erro>
      </div><br>

      <div class="col-sm-12">
        <label for="nome" class="control-label"></label>
      </div>

        <div class="col-sm-6">
          <label for="Quantidade de Ração" class="control-label">Quantidade de Ração</label>
        </div>

        <div class="col-sm-6">
          <label for="Tipo" class="control-label">Tipo</label>
        </div>

        

        <div class="col-sm-6">
          <input type="text" class="form-control" name="quantidadeRacao" 
            id="quantidadeRacao" placeholder="Quantidade de Ração"  [(ngModel)]="animalleiteiro.quantidadeRacao" required #quantidadeRacao="ngModel">
      
    
          <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(quantidadeRacao)" 
            msgErro="Quantidade de Ração é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>
         
          
       
          
          <div class="form-group" class="col-sm-6">
            <select  [(ngModel)]="animalleiteiro.tipo"  class="custom-select" name="tipo"  required #tipo="ngModel">
              
              <option value="Leiteiro"  >Leiteiro</option>
              <option value="Corte">Corte</option>
              
            </select>
            <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(tipo)" 
            msgErro="Tipo é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>
          
          <div class="col-sm-12">
            <label for="nome" class="control-label"></label>
          </div>
          
          <div class="col-sm-6">
            <label for="Quantidade de Leite" class="control-label">Quantidade de Leite</label>
          </div>
          <div class="col-sm-6">
            <label for="Raça" class="control-label">Raça</label>
          </div>
      
          <div class="col-sm-6">
            <input type="text" class="form-control" name="quantidade_leite" 
              id="quantidade_leite" placeholder="Quantidade De Leite" [(ngModel)]="animalleiteiro.quantidade_leite" required #quantidadeleite="ngModel">
      
            <app-app-campo-control-erro
              [mostrarErro]="verificaValidTouched(quantidadeleite)" 
              msgErro="Quantidade De Leite é obrigatório.">
            </app-app-campo-control-erro>
            <br>
        
      </div>
      
      <div class="col-sm-6">
        <input type="text" class="form-control" name="raca" 
          id="raca" placeholder="Raça"  [(ngModel)]="animalleiteiro.raca" required #raca="ngModel">
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(raca)" 
          msgErro="Raça é obrigatório.">
        </app-app-campo-control-erro>
        <br></div>
      

    
          <div class="ui-g-12 ui-md-6">
              <label for="data Cio" class="control-label">Nova Data Cio</label>
              
              <p-calendar [(ngModel)]="data_cio" name="something" required ></p-calendar> {{data_cio|date}}
              
            
          </div>
          <div class="ui-g-12 ui-md-6">
            <label for="data Paricao" class="control-label">Nova Data Parição</label>
            
            <p-calendar [(ngModel)]="data_paricao" name="something"required #datac="ngModel" ></p-calendar> {{data_paricao|date}}
          
        </div>
        <div class="col-sm-6" ><p>Data anterior: {{animalleiteiro.data_cio}}</p> </div>
        <div class="col-sm-6"><p>Data anterior: {{animalleiteiro.data_paricao}} </p></div> 
         
      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid"  >Atualizar</button>
      </div>
      </div>
       
  </form>
</div>
