<div class="container">
  <div class="text-center ">
    <h2>Atualizar Funcionário </h2>
  </div>

<form #f="ngForm" (ngSubmit)="atualizar(f.value)" class="form-horizontal">
    <div class="form-group"  [ngClass]="aplicaCssErro(nome)">
        
        <div class="col-sm-1">
            <label for="codigo" class="control-label">Código</label>
          </div>

          <div class="col-sm-12"  >
            <input type="text" class="form-control" name="id" 
              id="id" placeholder="id"  [(ngModel)]="funcionario.id" required #id="ngModel" readonly="true">
       
      
            <app-app-campo-control-erro
              [mostrarErro]="verificaValidTouched(id)" 
              msgErro="Id é obrigatório.">
            </app-app-campo-control-erro>
          </div><br>
  
      <div class="col-sm-1">
        <label for="nome" class="control-label">Nome</label>
      </div>
  
      <div class="col-sm-12">
        <input type="text" class="form-control" name="nome" 
          id="nome" placeholder="Nome"  [(ngModel)]="funcionario.nome" required #nome="ngModel">
   
  
        <app-app-campo-control-erro
          [mostrarErro]="verificaValidTouched(nome)" 
          msgErro="Nome é obrigatório.">
        </app-app-campo-control-erro>
      </div><br>

        <div class="col-sm-1">
          <label for="cpf" class="control-label">CPF</label>
        </div>
    
        <div class="col-sm-12">
          <input type="text" class="form-control" name="cpf" 
            id="cpf" placeholder="CPF"  [(ngModel)]="funcionario.cpf" required #cpf="ngModel">
      
    
          <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(cpf)" 
            msgErro="CPF é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>
         
          <div class="col-sm-1">
            <label for="sexo" class="control-label">Sexo</label>
          </div>
          
          <div class="form-group" class="container">
            <select  [(ngModel)]="funcionario.sexo"  class="custom-select" name="sexo"  required #sexo="ngModel">
              
              <option value="M"  >M</option>
              <option value="F">F</option>
              
            </select>
            <app-app-campo-control-erro
            [mostrarErro]="verificaValidTouched(sexo)" 
            msgErro="Sexo é obrigatório.">
          </app-app-campo-control-erro>
          </div><br>

          <div class="col-sm-1">
            <label for="salario" class="control-label">Salário</label>
          </div>
      
          <div class="col-sm-12">
            <input type="text" class="form-control" name="salario" 
              id="salario" placeholder="Salário"  [(ngModel)]="funcionario.salario" required #salario="ngModel">
        
      
            <app-app-campo-control-erro
              [mostrarErro]="verificaValidTouched(salario)" 
              msgErro="Salário é obrigatório.">
            </app-app-campo-control-erro>
            <br>
        
      </div>
      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid"  routerLink="/Tabela/Funcionaio">Atualizar</button>
      </div>
      </div>
       
  </form>
</div>
