.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
    background-size: auto;

    top: -18px;
    height: 90vh;
    
    width: 105vmax;
 left: -150px;
 right: -150px;
 
}
.f{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
