

            
            <div class="fixed">
            <div class="view">
              <div class="full-bg-img">
                  <div class="mask rgba-black-strong flex-center">
                      <div class="container">
                          <div class="white-text text-center wow fadeInUp">
                             
                            <h2 class="f">Agricultor APP</h2>
                              <h5 class="f">Trazendo soluções tecnológica para o campo.  </h5>
                              <br>
                              <p class="f">"A força de vontade do agricultor traz fertilidade ao solo e alimento à mesa." </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
   