
<div class="container">
  <h2 >Listar Ração</h2>
<div class="ui-g">
<div class="ui-g-12">
<p-table [value]="racao" [paginator]="true" [rows]="3" [responsive]=true>
<ng-template pTemplate="header">
<tr>

<th class="col-id-header">Código</th>
<th class="col-nome-header">Nome</th>
<th class="col-tipo-header">Tipo</th>
<th class="col-acoes-header">Ações</th> 
</tr>
</ng-template>
<ng-template pTemplate="body" let-racao>
<tr>
<td>{{racao.id}}</td>
<td>{{racao.nome}}</td>
<td >{{racao.tipo}}</td>
<td class="col-acoes">
 
 <button pButton  icon="fa fa-edit" [routerLink]="['/atualizarRacao',racao.id]"></button>
  <button pButton icon="fa fa-trash-o" (click)="escluir(racao.id)"> </button>
</td>

</tr>

</ng-template>



</p-table>
</div>
</div>
</div>


